<script>
// must send csrf token every time to stay logged in
$.ajaxSetup({
  beforeSend: function(xhr) {
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  }
}); 

$(function(){
    $('.stickyNote')
        // send updated position to server
        .draggable({
            stop: function(e, ui) {
                $.ajax({
                    url: '/notes/' + $(this).attr('data-noteId'),
                    type: 'PUT',
                    data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                        width: $(this).width(), height: $(this).height(), body: $(this).find('.textarea').html() },
                    dataType: 'json',
                    success: function(data) {
                        //alert('put sent');
                  }
                });
            }
        })
        // send updated size to server
        .resizable({
            stop: function(e, ui) {
                $.ajax({
                    url: '/notes/' + $(this).attr('data-noteId'),
                    type: 'PUT',
                    data: { _method:'PUT', x: $(this).position().left, y: $(this).position().top,
                        width: $(this).width(), height: $(this).height(), body: $(this).find('.textarea').html() },
                    dataType: 'json',
                    success: function(data) {
                        //alert('put sent');
                  }
                });
            }
        });

        // send updated text to server
        var contents = $('.textarea').html();
        $('.textarea').blur(function() {
            if (contents!=$(this).html()){
                console.log('contents changed');
                content = $(this).html();
                var id = $(this).parent().attr('data-noteId');
                var position = $(this).parent().position();
                $.ajax({
                    url: '/notes/' + id,
                    type: 'PUT',
                    data: { _method:'PUT', x: position.left, y: position.top,
                        width: $(this).parent().width(), height: $(this).parent().height(), body: content },
                    dataType: 'json',
                    success: function(data) {
                        //alert('put sent');
                  }
                });
            }
        });

/*        $('.textarea').unbind('keypress').keypress(function(event) {
            console.log('event', event)
            console.log('this', this)
            if (event.keyCode == 13) {
                console.log("Handler for .keypress() called.");
                console.log('this', this);
                //event.stopPropagation();
                event.preventDefault();
                $(event.target).append('<br><input type="checkbox"/><label id="item">&nbsp;</label>'); 
                //$('<br/><input type="checkbox"/><label id="item">&nbsp;</label>').appendTo(event.target); 
            }
        });*/

/*        $('.textarea').unbind('click').click(function(event) {
            console.log('clicked', event);
            input = $(event.target);
            input.focus();
            tmpStr = input.html();
            input.html('');
            input.html(tmpStr);
        });*/

        // TODO:
        // textarea not editable for a todo list
        // bind to clicking enter as well
        // add ids
        // modified from: http://www.buildfortheweb.com/2010/11/25/create-a-to-do-list-with-jquery/
        add_todo = function(event) {
            console.log('add_todo clicked', event);
            var todoDescription = $('.description').html();
            if (todoDescription == "") {
                return false;
            }

            $('.todo_list').append('<div class="todo">'
                + '<span>'
                    + '<input type="checkbox" class="check_todo" name="check_todo"/>'
                + '</span>'
                + '<span class="todo_description">'
                    + todoDescription
                + '</span>'
                + '<span class="delete_task" style="float:right;cursor: pointer;"><a>X</a></span>'
            + '</div>');
            
            // put space in description as filler
            $('.description').html("");
            
            $('.check_todo').unbind('click');
            $('.check_todo').click( function() {
                var todo = $(this).parent().parent();
                todo.toggleClass('checked');
                if (todo.hasClass('.checked')) {
                    todo.children('.todo_description').css('text-decoration', 'line-through');
                } else {
                    todo.children('.todo_description').css('text-decoration', 'none');
                }
            });

            $('.delete_task').click( function(event) {
                $(this).parent().remove();
            });
            return false;
        }

        $('.description').unbind('keypress').keypress( function(event) {
            console.log('keypress', event);
            if (event.keyCode == 13) {
                console.log("add todo keypress");
                //event.stopPropagation();
                event.preventDefault();
                add_todo(event);
            }
        });
        $('.add_todo').unbind('click').click( function(event) {
            add_todo(event); 
        });  
        

});

</script>

