$.ajax({
success: function(html) {
console.log("note id", "<%= @note.id %>");
var add_note = function () {
    $('#notes').append('<div class=\'stickyNote\' data-noteId=<%= @note.id %> style=\'position:absolute; left:0px; top:0px\'><div class=\'textarea\' contenteditable=\'true\'></div></div>');
    $('.stickyNote')
        .draggable({
            stop: function(e, ui) {
                // TODO: send updated location
            }
        })
        .resizable({
            stop: function(e, ui) {
                alert('resizing stopped');
                // TODO: send updated note dimensions
            }
        });
        // TODO: send updated note content
        var contents = $('.textarea').html();
        $('.textarea').blur(function() {
            if (contents!=$(this).html()){
                contents = $(this).html();
            }
        });

}

add_note();

}
});